@import "../../../common/styles/breakpoints";
@import "../../../common/styles/templates";
@import "../../../common/styles/colors";

@media screen and (min-width: $md) {
  .form {
    margin-top: 20px;
  }
  .input_container {
    @include input_container;
    width: 540px;
    label + label {
      margin-top: 10px;
    }
  }
  .input {
    @include input;
    width: 100%;
  }
  .input_none {
    @include none;
  }
  .update_task {
    position: relative;
    cursor: pointer;
    &::after {
      content: url("../../../../public/static/images/svg/send_task.svg");
      position: absolute;
      bottom: 17px;
      left: 250px;
    }
  }
  .checkbox {
    position: relative;
    bottom: 75px;
    left: 273px;
    &::after {
      content: url("../../../../public/static/images/svg/checkbox.svg");
      position: absolute;
      bottom: -12px;
      right: -10px;
    }
    &:checked::after {
      content: url("../../../../public/static/images/svg/checkbox_checked.svg");
      position: absolute;
      bottom: -12px;
      right: -10px;
    }
  }
}
