@import '../../common/styles/breakpoints';
@import '../../common/styles/templates';
@import '../../common/styles/colors';

.chat_info_wrapper {
  z-index: 100;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2392156863);
  .chat_info {
    @include user_card;
    position: absolute;
    margin: 0;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .info_container {
      display: flex;
      .photo_wrapper {
        @include photo_wrapper;
        margin: 0;
        width: 80px;
        height: 80px;
      }
      .photo_inner {
        @include photo_inner;
        width: 80px;
        height: 80px;
      }
      .photo_inner_img {
        @include photo_inner_img;
        width: 80px;
        height: 80px;
      }
      .chat_info_username {
        @include userName;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 220px;
        margin-left: 10px;
      }
      .online_status_container {
        text-align: left;
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 220px;
        .online_status,
        .last_seen {
          color: #000000;
          font-size: 16px;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 220px;
        }
      }
      // .chat_info_status {
      //   overflow: hidden;
      //   text-overflow: ellipsis;
      //   max-width: 220px;
      //   margin-left: 10px;
      // }
    }
    .menu_list {
      margin-top: 20px;
      .menu_list_item {
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: $hovered_grey;
        }
        .profile_icon {
          &::after {
            display: inline-block;
            border-radius: 5px;
            width: 35px;
            height: 35px;
            filter: invert(85%) sepia(32%) saturate(3504%) hue-rotate(251deg)
              brightness(88%) contrast(105%);
          }
        }
        .profile_icon {
          &::after {
            content: url('../../../public/static/images/svg/profile.svg');
          }
        }
        .propertyName {
          margin-left: 15px;
          font-size: 17px;
        }
      }
    }
  }
}
