@import '../../common/styles/breakpoints';
@import '../../common/styles/templates';
@import '../../common/styles/colors';

.section {
  @include section;
  margin-top: 0;
  height: 100vh;
}

@media screen and (max-width: 767px) {
  .section {
    min-height: 463px;
  }
}
