@import "../../../common/styles/breakpoints";
@import "../../../common/styles/templates";
@import "../../../common/styles/colors";

@media screen and (min-width: $md) {
  .input_container {
    @include input_container;
    width: 540px;
    label + label {
      margin-top: 10px;
    }
  }
  .input {
    @include input;
    width: 100%;
  }
  .input_none {
    @include none;
  }
  .create_task {
    position: relative;
    cursor: pointer;
    &::after {
      content: url("../../../../public/static/images/svg/send_task.svg");
      position: absolute;
      bottom: 20px;
      left: 250px;
    }
  }
}
