@import '../../../common/styles/breakpoints';
@import '../../../common/styles/templates';
@import '../../../common/styles/colors';

.container {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0000003d;
}
.cropper,
.form {
  @include user_card;
  display: block;
  position: absolute;
}
.cropper {
  width: 100%;
  height: 100%;
}
.form {
  bottom: 19px;
}

.button_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .form {
    left: 40px;
    width: 251px;
  }
  .cropper {
    top: -10px;
    left: -10px;
  }
}
@media screen and (max-width: 320px) {
  .form {
    left: 15px;
  }
}