@import '../../common/styles/breakpoints';
@import '../../common/styles/templates';
@import '../../common/styles/colors';

.preview-list {
  overflow-y: scroll;
  height: 100%;
  max-height: 790px;
  padding: 0 10px;
  @include scrollbar;
}

@media screen and (max-width: 320px) {
  .preview-list {
    height: 500px;
    max-height: 390px;
    // max-height: 736px;
    // height: 466px;
  }
}