@import '../../common/styles/breakpoints';
@import '../../common/styles/templates';
@import '../../common/styles/colors';

.preview-list {
  overflow-y: scroll;
  height: 100%;
  max-height: 790px;
  padding: 0 10px;
  @include scrollbar;
}
