.section {
  height: 963px;
  // height: 89vh;
  // margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 320px) {
  .section {
    // max-height: 86vh;
    // height: 448px;
    // height: 545px;
    height: 100%;
  }
}
