.section {
  height: 963px;
  // height: 89vh;
  // margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms;
}

@media screen and (max-width: 320px) {
  .section {
    // max-height: 86vh;
    // height: 448px;
    // height: 545px;
    height: 100%;
  }
}
