@import '../../common/styles/breakpoints';
@import '../../common/styles/templates';
@import '../../common/styles/colors';

.container {
  background-color: $white;
  border-radius: 10px;
  border-bottom-right-radius: 5px;
  margin: 10px;
  box-shadow: 0px 5px 19px -4px $shadow_grey;
  width: 32%;
  max-height: 850px;
  overflow: hidden;
  @include scrollbar;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .none {
    display: none;
  }
}
