$dark_purple: #32114d;
$purple: #4c216e;
$hover_purple: #7332a5;
$light_green: #169e83;
$light_purple: #690979;
$white: #ffffff;
$shadow_grey: #585858;
$header_active_button: #220c35;
$pinky_purple: #ae58fd;
$checked_blue: #639dfa;
$choosed_grey: #c4c9d1;
$hovered_grey: #d8d8d8;
$date_conversation_grey: #6e7b93;
$light_grey_blue: #e9f2ff;
$message_body_grey: #9bacc9;
$my_message_body_light: #e3eaf5;
$grey_blue: #56729f;
$not_read_blue: #c5ceeb78;
$typing_status_color: #495a76;
$invalid: #d32f2f;
$valid: #4BAA62;
