
@mixin word_break {
  word-break: break-all;
}
@mixin section {
  margin: auto;
  margin-top: 100px;
  text-align: center;
}
@mixin user_card {
  background-color: $white;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 5px 19px -4px $shadow_grey;
}
@mixin input_container {
  display: flex;
  flex-direction: column;
}
@mixin input {
  height: 40px;
  border: 2px solid $dark_purple;
  border-radius: 5px;
  color: $light_green;
  &::placeholder {
    color: $light_purple;
  }
}
@mixin none {
  display: none;
}
@mixin task {
  background-color: $light_purple;
  border: 2px solid $dark_purple;
  border-radius: 5px;
  text-align: left;
  color: $white;
}
@mixin photo_wrapper {
  position: relative;
  width: 110px;
  height: 110px;
  margin: auto;
}
@mixin photo_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  text-transform: uppercase;
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid $dark_purple;
  color: $white;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
@mixin photo_inner_img {
  padding: 2px;
  border: 2px solid $dark_purple;
  background-color: $white;
  object-fit: cover;
  object-position: top;
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
@mixin login {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
