.formContainer {
  width: 90%;
  padding: 70px 30px 44px;
  border-radius: 22px;
  background: #161616;
  text-align: center;
  @media screen and (min-width: 450px) {
    width: 380px;
  }
  & > h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
  }
  & > h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.38);
  }
}

.form {
  display: grid;
  gap: 16px;
  place-items: center;
  margin: 0;
  width: 100%;
  & input,
  button {
    width: 100%;
    height: 60px;
    outline: none;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    border-radius: 8px;
  }
  & input {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    font-size: 18px;
    padding: 0 20px 0 50px;
    color: #f9f9f9;
    &:focus {
      // border-color: #157ae1;
      border-color: #8b15e1;
    }
  }
  & button {
    cursor: pointer;
    // background: #157ae1;
    background: #8b15e1;
    color: #f9f9f9;
    border: 0;
    font-weight: 600;
    letter-spacing: 2px;
    &:active {
      background: #6a09af;
    }
  }
}

.label {
  position: relative;
}
.invalid {
  border: 2px solid red !important;
}
.error {
  width: 129px;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
  color: #cc0033;
  line-height: 10px;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  float: left;
  position: absolute;
  left: -157px;
  top: 10px;
  padding: 7px 5px 4px;
  text-align: center;
}
.error:after,
.error:before {
  content: '';
  border: 7px solid transparent;
  position: absolute;
  top: 6px;
}
.error:after {
  border-left: 7px solid #fce4e4;
  left: 125px;
  top: 3px;
}
.error:before {
  border-left: 7px solid #fcc2c3;
  left: 126px;
  top: 3px;
}

.pageLink {
  margin-top: 20px;
  & > a {
    display: block;
    margin: auto;
    width: 20%;
    &:hover {
      color: #8b15e1;
    }
  }
}
