@import '../../common/styles/breakpoints';
@import '../../common/styles/templates';
@import '../../common/styles/colors';

.button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  transition: color 0.3s ease;
  color: $purple;
  &:hover {
    background-color: $hovered_grey;
  }
  &:active {
    background-color: $choosed_grey;
  }
}