@import '../../common/styles/breakpoints';
@import '../../common/styles/templates';
@import '../../common/styles/colors';

.preview {
  display: flex;
  align-items: center;
  padding: 7px;
}
.avatar {
  width: 60px;
  height: 60px !important;
  flex: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin-left: 10px;
}
.preview_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.name {
  width: 40%;
  max-width: 100px;
}

.delivered_status {
  width: 10%;
  max-width: 25px;
  margin-left: auto;
  margin-right: 5px;
}

.date {
  width: 25%;
  max-width: 70px;
}