@import '../../common/styles/breakpoints';
@import '../../common/styles/templates';
@import '../../common/styles/colors';

.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px;
}

.online_status {
  color: #000000;
  font-size: 18px;
}

.last_seen {
  color: #000000;
  font-size: 14px;
}
